.cart {
    background-color: burlywood;
    padding: 10px;
    position: sticky;
    top: 0px;
}

.btn-dlt-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    width: 100%;
    background-color: violet;
    margin: 5px auto;
    color: azure;

}



